* {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    background: #343A40;
    font-family: 'Montserrat', sans-serif;
}

.principal {
    color: 1px solid #FFF;
    width: 90%;
    margin: 0 auto;
    line-height: 100px;
}

.principal img {
    background-color: white;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.logo a{
    text-decoration: none;
    color: white;
}

nav {
    height: 50px;
    line-height: 50px;
    margin: auto 50px;
    display: inline-block;
}

nav ul li {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
  
}

nav ul li a {
    color: #03BBDB;
    margin-right: 10px;
    padding: 5px;
}

nav ul li a:hover {
    color: #FFF;
    background-color: #03BBDB;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;

}

.user {
    font-size: 16px;
    background-color: #F7F5F5;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    text-align: center;
    color: #03BBDB;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

header img {
    border: 1px solid #FFF;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

/* Dados Pessoais */
.foto img {
    width: 300px;
}

.foto form input {
    width: 55.5%;
}

.dados-pessoais h4 {
    color: black;
}

.dados-pessoais label, input {
    color: black;
    padding-right: 30px;
}

.nome {
    width: 70% ;
}

.button input {
    font-size: 14px;
}

.redes-sociais img {
    width: 30px;
}

.dataNascimento input {
    width: 40%;
}

.idadeDocumento .form-group input{
    width: 40%;
}

.estadoCivil select {
    height: 30px;
}

option {
    color: black;  
}

select {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    padding-right: 2px;
}

.endereco input {
    width: 97%;
}

.cidade input {
    width: 90%;
}

.info-contato input {
    width: 40%;
    height: 30px;
    border-radius: 5px;
}
