* {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-decoration: none;
}

body {
    background-color:#f6f7f9;

}

.dados-pessoais, .objetivo-profissional, .formacao-academica {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

h3, h4, h5 {
    color: black;
}

option {
    color: black;  
}
                    
select {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    padding-right: 2px;
}

/* Foto */
input {
    height: 30px;
    font-size: 13px;   
}

/* header */
header {
    width: 100%;
    height: 100px;
    background: #343A40;
    font-family: 'Montserrat', sans-serif;
}

.principal {
    color: 1px solid #FFF;
    width: 90%;
    margin: 0 auto;
    line-height: 100px;
}

.principal img {
    background-color: white;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.logo a{
    text-decoration: none;
    color: white;
}

nav {
    height: 50px;
    line-height: 50px;
    margin: auto 50px;
    display: inline-block;
}

nav ul li {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
  
}

nav ul li a {
    color: #03BBDB;
    margin-right: 10px;
    padding: 5px;
}

nav ul li a:hover {
    color: #FFF;
    background-color: #03BBDB;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.user {
    font-size: 16px;
    background-color: #F7F5F5;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    text-align: center;
    color: #03BBDB;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

header img {
    border: 1px solid #FFF;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}


/* Dados Pessoais */


.foto img {
    width: 250px;
    margin-top: 15px;
    border-radius: 10px;

}

.foto form input {
    width: 55.5%;
}

.dadosPessoais {
    background-color: rgb(231, 231, 238);
}

.dados-pessoais label, input {
    color: black;
    padding-right: 30px;
}

.button input {
    font-size: 14px;
}



/* Alinhando input Dados Pessoais*/
.nome input {
    width: 50%;
}

.dataNascimento input {
    width: 50%;
}

.idade input{
    width: 50%;

}

.documento input {
    width: 50%;
}

.redes-sociais, .nome, .dataNascimento, .idade, .documento, .sexo, .estadoCivil {
    padding-right: 150px;
}

.estadoCivil select {
    height: 30px;
}


/* Alinhando input Endereço*/

.enderecoCompleto input {
    width: 50%;
    padding: 6px 12px;
}

.endereco1 {
    background-color: rgb(231, 231, 238);
    margin-bottom: 40px;

}
.endereco input {
    width: 70%;
}
.complemento input {
    width: 70%;
}

.cep, .endereco, .complemento, .cidade, .estado {
    padding-right: 100px;
}


/* Alinhando input Contato*/
.contatos {
    background-color: rgb(231, 231, 238);
    margin-bottom: 30px;
}

.email input {
    width: 60%;
}

.telefone input {
    width: 40%;
}

.celular input {
    width: 40%;
}

.email, .telefone, .celular {
    padding-right: 150px;

}
.info-contato input {
    width: 40%;
    height: 30px;
    border-radius: 5px;
}

.redes-sociais img {
    width: 30px;
}


/* Objetivo profissional */
.objetivo-profissional label {
    color: black;
}

.objetivoProfissional {
    background-color: rgb(231, 231, 238);
    margin: 20px 0 30px 0 ;
}

.cargo input {
    width: 60%;
}
.cargo {
    padding-right: 150px;
}
.areasInteresses {
    padding-right: 150px;
}

.meses {
    width: 50px;
}

.anos {
    width: 60px;
}
/* Formação academica */

.formacaoAcademica1 {
    background-color: rgb(231, 231, 238);
    margin: 20px 0 30px 0 ;
}

.instituicao input {
    width: 60%;
}

.formacao input {
    width: 60%;
}


.formacao-academica label, input {
    color: black;
}

.formacaoAcademica > input{
    height: 60%,
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #343A40;
    font-family: Montserrat;
    font-size: 12px;
    display: inline-block;
    
}