* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13vh 150vh 80vh;
    grid-gap: 20px;
    grid-template-areas: "nav nav"
                        "dados-pessoais objetivo-profissional" 
                        "dados-pessoais formacao-academica"
}

.dados-pessoais {
    margin-left: 100px;
}

.objetivo-profissional, .formacao-academica { 
    margin-right: 100px;
}   

/* Estilizando Form */ 
.button .cancelar{
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    text-align: center;
    background-color: #f6f7f9;
    color: red;
    cursor: pointer;
    font-size: 14px;
}

.button .salvar {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0073b1;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

input {
    border-radius: 5px;
    margin-top: 13px;
    height: 30px;
    width: 60%;

}

textarea {
    margin-top: 13px;
    width: 300px;
    height: 110px;
    font-family: 'Montserrat', sans-serif;
}  

select {
    margin-top: 13px;
}

.estadoCivil, .areasInteresse {
    border-radius: 5px;
    height: 30px;
}

/*input[type=text], input[type=number], input[type=email]{
    position: relative;
    left: 10px;
    width: 50%;  
}

input[type=date]{
    position: relative;
    left: 10px;
}

input[type=email]:focus, input[type=text]:focus, input[type=date]:focus, input[type=number]:focus {
    background-color: rgb(231, 231, 240);
}
*/

/* Header */
nav {
    background-color: rgb(0, 59, 96);
    grid-area: nav;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.header ul li:hover {
    background-color:rgb(166, 59, 50);
    border-radius: 5px;
    padding: 7px;
}

.header ul a:hover {
    color:black;
}


.header ul li {
    display: inline;
}

.header ul li a{
    text-decoration: none;
    color: rgb(242, 181, 68);
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}

.img-cabecalho {
    padding-top: 10px;
}

.img-cabecalho p {
    color:rgb(242, 181, 68);
    font-weight: bold;

}

.img-cabecalho img {
    width: 40px;
    cursor: pointer;
}


/* Dados Pessoais*/
.dados-pessoais {
background-color:#f6f7f9;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
grid-area: dados-pessoais;

}

.foto img {
    width: 300px;
}

.redes-sociais img {
    width: 30px;
}

/* Objetivos Profissionais */
.objetivo-profissional {
    background-color: #f6f7f9;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    grid-area: objetivo-profissional;
    padding-top: 15px;
}


/* Formação Academica */
.formacao-academica {
    background-color: #f6f7f9;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    grid-area: formacao-academica;
    padding-top: 15px;
}

label{
    width: 200px;
    border-radius: 5px;
    margin-top: 13px;
    height: 30px;
    display: inline-block;
    text-align: right;
}

.dadosPessoais .sexo label {
    text-align: center;  
}

/*.formacaoAcademica1
    display: inline-block;
    
}


