* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fundo {
    background-image: url(./imgheader/quebracabeca.jpg);
    object-fit: cover 

}



.fundo .h2 {
    color: rgb(255, 211, 240);
    padding-top: 200px;
    padding-bottom: 30px;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(128, 42, 115); 

}

.fundo .botao {
    padding: 16px 48px 18px;
    width:20%;
    margin:0 auto;
    background:rgb(128, 42, 115);
    color:white;
    display:block;
    border-radius: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    letter-spacing: .2rem;
    box-shadow: 2px -2px  blueviolet;
    font-weight: 700;

    }

 
.fundo > .botao:hover  {
    color: white!important;
    background-color: #802A73!important;
}
   