* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main {
    background-color: #343A40;
}

h3 {
    padding-top: 80px;
    text-align: center;
    color: whitesmoke;
    font-family: Roboto Slab, sans-serif;
    font-size: 30px;
}

.row {
    display: flex;
    padding: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

 .form {
    background-color: #55cbb3;
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin: 40px;
}

.card-title {
    text-align: center;
    color:rgb(54, 21, 99);
    font-family: 'Roboto Slab', serif !IMPORTANT;
    font-weight: 900;
}

.label {
    font-family: 'Montserrat', sans-serif;
   

}

 button {
    background-color: rgb(54, 21, 99)!important;
    color: white!important;
    margin-top: 10px!important;
    border: navy!important;
    width: 250px;


 }

 a {
    color: rgb(143, 42, 112);
    font-size: 13px;
    font-weight: bold;
    margin: 12px;
    
 }

a:hover {
    text-decoration: none;
    color: whitesmoke;
}

 .form-check {
     padding-left: 0rem;
     text-align: center;
 }

h4 {
    text-align: center;
    color: rgb(187, 117, 166);
    font-family: Roboto Slab, sans-serif;
    margin: 30px;
}

section {
background-color: rgb(187, 117, 166);
    
}