* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.fundo {
    background-image: url(./imgheader/quebracabeca.jpg);
    object-fit: cover 

}



.fundo .h2 {
    color: rgb(255, 211, 240);
    padding-top: 200px;
    padding-bottom: 30px;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(128, 42, 115); 

}

.fundo .botao {
    padding: 16px 48px 18px;
    margin:0 auto;
    background:#361563;
    color:white;
    display:block;
    border-radius: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    letter-spacing: .2rem;
    font-weight: 700;

    }

 
.fundo > .botao:hover  {
    color: white!important;
    background-color: #802A73!important;
}
   

.sobrenos {
    background-color: #802A73;
    padding: 60px;

}
 .quem {
    color: wheat;
    font-size: 70px;
    font-weight: bold;
    text-align: right;
}

.somos {
    color: wheat;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
}

.psobrenos {
    color: #361563;
    margin-left: 20px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 2%;
    margin-top: 40px;
    font-weight: bold;

}

main  {
    background-color: #343A40;
}

main .h3 {
    padding-top: 80px;
    text-align: center;
    color: wheat;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.row {
    display: flex;
    padding: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

 .form {
    background-color: rgb(0, 150, 178);
    padding: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    
}

.form-group {
    margin-bottom: 0rem;
}
.card-title {
    text-align: center;
    color:white;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 900;
}

.label {
    font-family: 'Montserrat', sans-serif;
   

}

 .entrar {
    background-color: rgb(54, 21, 99)!important;
    color: white!important;
    margin-top: 10px!important;
    border: navy!important;
    width: 75%;
    border-radius: 50px!important;


 }

 button:hover {
    background-color: #802A73!important;
    color: white!important;

 }


.menuA:hover {
    text-decoration: none;
    color: whitesmoke!important;
}

 .form-check {
     padding-left: 0rem;
     text-align: center;
     margin-bottom: 1rem;
 }

h4 {
    text-align: center;
    color: rgb(0, 150, 178);
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    font-weight: 300;
}

body > section {

    background-color: #343A40;
}


.form-contato {
    background-color: rgb(0, 150, 178);
    padding: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 30px;

}

.form-group-mensagem > input {
    height: 100px;
}

.participe {
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

.participe:hover{
    text-decoration: none;
    color: whitesmoke;
}

main .row .senha {
    color: rgb(0,59,96)!important;
    font-weight: bold;
    text-decoration: none;
    margin: 2%;
    font-size: 14px;
    margin-bottom: 0rem;

}

main .row .senha:hover{
    color: whitesmoke!important;
}

.form-group {
    margin-bottom: 0rem!important;
}

/*RESPONSIVIDADE*/

@media only screen and (max-width: 400px){
 
.fundo .h2 {
    font-size: 50px;
}

main .h3 {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.form {
            margin-right: 10px;
            margin-left: 10px;
        }
        .quem {
            text-align: center;
            font-size: 40px;
            padding-top: 10px;

    
        }
    
        .somos {
            text-align: center;
            font-size: 40px;
            padding-bottom: 10px;
    
        }
        
        .psobrenos {
            display: block;
            margin: 5px;
    
        }
        section{
            padding: 0px!important;
       }
}

@media only screen and (max-width: 800px){

    .form {
        margin-right: 10px;
        margin-left: 10px;
    }

    .form-contato {
        margin-right: 10%;
        margin-left: 10%;
    }

    .quem {
        text-align: center;

    }

    .somos {
        text-align: center;
    }
    
    section {
        padding: 0px!important;
   }

}

@media only screen and (max-width: 500px){
.form-contato {
    margin-right: 5%;
    margin-left: 5%;
}

.quem {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

.somos {
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}

.psobrenos {
    margin-left: 0px;
}

section {
        padding: 0px!important;
    }
}

@media only screen and (max-width: 320px) {
    section {
        padding: 0px!important;
    }
}