* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/mapa3.png);
    background-position: center;
    

 
}

.corpo {
    width: 420px;
    margin: 40px auto 20px auto;
}

.corpo-form {
    width: 420px;
    margin: 80px auto 20px auto;
    background-color: rgba(250, 250, 250, 0.7);
    border-radius: 5%;
    padding: 20px 0 20px 0;
}


.corpo-form form div {
    display: flex;
    align-items: center;
}

.corpo-form form h2 {
    color: rgb(0, 59, 96);
    text-align: center;
    font-size: 25px;
}

.labelForm {
    padding-left: 20px;
}


input, select, button {
    display: block;
    height: 40px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid rgba(202, 199, 201, 0.5);
    font-size: 12pt;
    padding: 10px 20px;
    background-color: rgba(202, 199, 201, 0.4);
    color: rgb(44, 42, 43);
    outline: none;
}

input[type=radio] {
    width: 20px;
}

button {
    background: rgb(0, 59, 96);
    border: none;
    cursor: pointer;
    height: 40px;
    width: 400px;
    border-radius: 30px;
    color: rgba(202, 199, 201, 0.5);
}

button:hover {
    color: rgb(242, 181, 68);
}