* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #1C6BB5;
    text-align: center;
}

/* menu de navegação */
nav .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

nav {
    background-color: #1C6BB5;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* bandeiras */
.container img {
    width: 40px;
    height: 40px;
    padding: 2px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

main h3 {
    color: #1C6BB5;
    text-align: center;
}

main .login, main .cadastro {
    width: 100%;
}

.login {
    margin: 15px 0;
}

.login form small a {
    text-decoration: none;
    color: white;
}

.login form small a:hover {
    text-decoration: none;
    font-weight: bold;
}

.cadastro {
    border-left: 1px solid rgb(207, 204, 204);
    margin: 15px 0;
}


main form {
    width: 80%;
    margin: 0;
    background-color: #1C6BB5;
    padding: 30px;
    margin: 10px auto 30px auto;
    color: white;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
}

/*
button {
    width: 40%;
    margin: 5px 0;
    border-radius: 5px;
}
.botoes-form {
    display: flex;
    justify-content: space-around;
}

form button a:hover {
    text-decoration: none;
}
*/

/* rodapé */

footer {
    text-align: center;
    background-color: #1C6BB5;
    color: white;
    padding: 20px;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
}

.footer-idioma {
    display: flex;
    align-items: center;
}